/*
 * Main styles for the xma website
 * author: mxc
 */

/*
remove padding and margins and set a default font and size
*/
html, body, section, div, span, p, header, nav, h1, h2, h3, h4, h5, h6
{
    margin: 0;
    padding: 0;

}

/* set the default font and font-size */
html, body, section, div, span, p, header, nav, h1, h2, h3, h4, h5, h6,
li, dd, dt, blockquote
{

    font-family: Helvetica,​Verdana,​sans-serif;
    font-size: 100%;
}


h1,h2,h3,h4,h5,h6
{
    font-weight: bold;
    padding-top: .5em;
    padding-bottom: .25em;
}
h1 { font-size: 180%; }
h2 { font-size: 160%; }
h3 { font-size: 140%; }
h4 { font-size: 120%; }
h5 { font-size: 110%; font-style: italic; }

body
{
    background-color: lightgray;
}

section
{
    border: 1px solid transparent;
}

.clear
{
    clear: both;
}

.vmid
{
    margin-top: 0px;
}

/* ---------------------------------------------------------  Welcome */


#welcome
{
    background: url("img/robots.jpg") no-repeat left top #efefef;
    min-height: 720px;
    position: relative;
}

#welcome #au
{
    text-align: center;
    color: white;
    text-shadow: .1em .1em .5em black;
    width: 30%;
    margin-top: 3em;
    margin-left: 3em;
    text-align: center;
}
#welcome h1
{
    font-size: 300%;
    margin-top: 0;
    padding-top: 0;
}


#welcome #slides
{
    position: absolute;
    right: 2em;
    bottom: 3em;
    width: 30em;
    background: rgba(0,0,0,.7);
    color: white;
    font-size: 120%;
    padding: 1.5em;
    border-radius: 8px;

}

/* ---------------------------------------------------------  About */


#about
{
    background-color: #FDBA09;
}

#about h2
{
    margin: 0;
    padding: 0;
    text-align: center;
    /* this gives it a slightly in-set look */
    color: rgba(159, 215, 228, 0.7);
    font-size: 300%;
    text-shadow: 1px 4px 6px #FDBA09, 0 0 0 #000000, 1px 4px 6px #FDBA09;
}



#about p
{
    width: 640px;
    margin: 1em auto;
    font-size: 140%;
    color: white;
    text-align: justify;
    border: 1px solid white;
    padding: 1em;
    border-radius: 8px;
    hyphens: auto;
    -moz-hyphens: auto;
}

#about p strong
{
    color: black;
}


#about p#tracks
{
    font-size: 100%;
}

/* ---------------------------------------------------------  Study */

#study
{
    background: url("img/code.png") black;
    color: white;
}

#study p
{
    hyphens: auto;
    -moz-hyphens: auto;
    text-align: justify;
}

#study a, #study a:visited
{
    padding: 0 .25em;
    color: gray;
    text-decoration: none;
    border-bottom: dotted 1px gray;
}

#study div.center
{
    width: 640px;
    margin: 0 auto;
}

#study div.left
{
    background: rgba(0,0,0,.8);
    border: 1px solid gray;
    width: 250px;
    float: left;
    margin: 1em;
    padding: 1em;
    border-radius: 8px;
}

#hacking
{
/*
    clear: both;
*/
}

/* ---------------------------------------------------------  Funding */
#funding
{
    background-color: white;
}
#funding h3
{
    color: #BE2B19;
    font-size: 430%;
    float: left;
    
}
#funding #jobs
{
    float: left;
    width: 30%;
    min-width: 400px;
    margin: 1em;
    font-size: 130%;
    padding: 2em;
    color: white;
    background: #BE2B19;
}

#funding #jobs p
{
    padding: .5em 0;
}

/* ---------------------------------------------------------  Courses */

#courses
{
    clear: both;
    background: url("img/robot-race.jpg") no-repeat gray;
}
#courses h1
{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
#courses table, #courses p
{
    margin: 1em;
    max-width: 640px;
    padding: 1em 0;
}

#courses p
{
    background: rgba(255,255,255,.9);
    padding: .5em;
}


#courses table
{
  background: rgba(255,255,255,.9);
  border-collapse:collapse;
  width: 100%;
  line-height: 1.5em;
}

#courses th
{
  background: rgba(0,0,0,.8);
  color: white;
  font-weight: bold;
}

/*
#courses td, #courses th
{
    padding: .5em;
}
*/

#courses tr:nth-child(even) {background: rgba(0,0,0,.4);}
/*
#courses tr:nth-child(odd) {background: #FFF}
*/

/* ---------------------------------------------------------  contact */

#contact
{
    padding: 2em;
    text-align: center;
    color: white;
    background: url("img/au-trans.png") no-repeat scroll right bottom #441700;

}

#contact a, #contact a:visited
{
    background: url("img/cloud.png") no-repeat scroll 0 0 transparent;
    color: #441700;
    display: block;
    line-height: 131px;
    margin: 0 auto;
    padding: 0 0.25em 0 0.5em;
    text-align: left;
    width: 352px;
}

#contact p
{
    padding: 0 2em;
    font-size: 320%;
}


/* ---------------------------------------------------------  main-nav */



#main-nav
{
    background: none repeat scroll 0 0 rgba(255,255,255,.8);
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 2.25em;
    position: fixed;
    overflow: hidden;
    text-align: center;
    -moz-transition:width 2s;
/*
    -moz-transition:width 2s, height 2s, background-color 2s, -moz-transform 2s;
    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    -o-transition:width 2s, height 2s, background-color 2s, -o-transform 2s;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
*/
}

#main-nav:hover
{
    background-color: white;
/*
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
*/
}


#main-nav a
{
    padding: 0 1em;
    text-decoration: none;
    color: black;
    font-size: 120%;
    font-weight: bold;
}





