/*
 * Main styles for the xma website
 * author: mxc
 */

/*
remove padding and margins and set a default font and size
*/
html, body, section, div, span, p, header, nav, h1,h2,h3,h4,h5,h6
{
    margin: 0;
    padding: 0;
    font-family: Ubuntu, FreeSans, sans;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: bold;
    padding-top: .5em;
    padding-bottom: .25em;
}
h1 { font-size: 180%; }
h2 { font-size: 160%; }
h3 { font-size: 140%; }
h4 { font-size: 120%; }
h5 { font-size: 110%; font-style: italic; }

body
{
/*
    background: url("img/bg.png") repeat #ab1c19;
*/
    background-color: lightgray;
    padding: 0;
    margin: 0;
}



section
{
    display: block;
    border: thin solid transparent;

}

/* =========================================================  Welcome */


#welcome
{
    height: 720px;
}

#welcome img
{
    position: absolute;
}

#welcome h1, #welcome ul
{
    position: absolute;

    background: white;
    padding: 2em;

}
#welcom h1
{
    top: 10%;
    left: 10%;
}

#welcome ul
{
    position: absolute;
    right: 20%;
    top: 300px;
    width: 400px;
    
}





#study
{
    background-color: pink;
}

#work
{
    background-color: orange;
}

#work
{
    background-color: purple;
}

#courses
{
    background-color: yellow;
}

#people
{
    background-color: gray;
}







